@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #1b1b1b;
  color: white;
  /* padding-left: 120px;
  padding-right: 120px; */
  font-family: fira;
}
